attrdict
click
Flask
gevent
greenlet
html2text
itsdangerous
Jinja2
MarkupSafe
MySQL-python
Flask-Cache
PyJWT
redis
requests
simplejson
six
Werkzeug
pycrypto
https://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-2.1.5.tar.gz
